GITHUB_APP_ID="123456"
GITHUB_APP_INSTALLATION_ID="12345678"
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\\n...\\n-----END RSA PRIVATE KEY-----"
GITHUB_APP_CLIENT_ID="Iv1.example"
GITHUB_APP_CLIENT_SECRET="replace-me"
ADMIN_GITHUB_LOGINS="RunRunxka"
SESSION_SECRET="replace-with-at-least-32-random-characters"
