/* Swup page transitions */
html.is-changing .transition-swup-fade,
html.is-animating .transition-swup-fade {
	transition: opacity 0.18s ease-out !important;
}

html.is-leaving .transition-swup-fade {
	opacity: 0;
	transition: opacity 0.12s ease-in !important;
}

#swup-container {
	outline: none;
}

#post-container {
	outline: none;
}
